h1 {
  color: rgb(195, 59, 129);
}

body {
  background-color: rgb(230, 171, 230);
}

h2 {
  color: rgb(121, 26, 91);
}

h3 {
    color:rgb(161, 102, 201) 
}


h1 {
  text-align: center;
}

img {
  max-width: 50%;
  height: auto;
}