h1 {
  color: rgb(113, 37, 136);
}

body {
  background-color: rgb(183, 129, 210);
}

h2 {
  color: rgb(190, 62, 229);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

img {
  max-width: 350px;
  height: auto;
  display: block;
  margin: 0 auto;
}

h1 {
  border-style: solid;
}
