h1 {
  color: rgb(226, 79, 226);
}

body {
  background-color: rgb(202, 149, 225);
}

h2 {
  color: rgb(179, 72, 211);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

img {
  max-width: 350px;
  height: auto;
  display: block;
  margin: 0 auto;
}

img {
  border-radius: 8px;
}

h1 {
  border-style: solid;
}
